<h1 appendChild [ngStyle]="{'background-color': 'lime',
'font-size': '20px',
'font-weight': 'bold'}">grades form!!!!!!!!!!!!</h1>

<div [style.margin]="auto" class="table_container">        
    <table align="center" id="table_id">
        <thead>
        <tr>
            <td colspan="12" align="center" style="background-color:brown"><h1 (click)="confirm(course)" #course [id]="courseId">{{ courseTitle }}</h1></td>
        </tr>
    </thead>
        <colgroup>
            <col style="background-color: rgb(255, 81, 0)">
            <col style="background-color: rgb(12, 247, 12)">
            <col span="11" style="background-color: rgb(150, 247, 23)">
        </colgroup>
        <tr style="background-color: rgb(255, 81, 0)" >
            <th>ASSIGNMENTS</th>
            <th>TOTAL POSSSIBLE</th>
            <th *ngFor="let student of students">{{ student }}</th>
        </tr>
        <tr *ngFor="let assignment of assignments">
            <th class="headerCorrect">{{ assignment.assignment }}</th>
            <th class="scoreHeaderCorrect">{{ assignment.total }}</th>
            <td align="center" *ngFor="let score of scores">{{ score }}</td>
        </tr>
        <tr>
            <th class="total">TOTAL</th>
            <th class="total">{{ fart }}</th>
            <td class="studentTotal" *ngFor="let total of totals"><h4>{{ total }}</h4></td>
        </tr>
    </table> 


