<h1>grades form!!!!!!!!!!!!</h1>


<div style="margin: auto" class="table_container">        
    <table align="center" id="table_id">
        <thead>
        <tr>
            <td colspan="12" align="center" style="background-color:brown"><h1>Communications 101</h1></td>
        </tr>
    </thead>
        <colgroup>
            <col style="background-color: rgb(255, 81, 0)">
            <col style="background-color: rgb(12, 247, 12)">
            <col span="11" style="background-color: rgb(150, 247, 23)">
        </colgroup>
        <tr style="background-color: rgb(255, 81, 0)" >
            <th>ASSIGNMENTS</th>
            <th>TOTAL POSSSIBLE</th>
            <th *ngFor="let student of students">{{ student }}</th>
            <!-- <th>MJ Cole</th>
            <th>Koryn Schmoryn</th>
            <th>Patrick Schmatrick</th>
            <th>Bo Burgunder</th>
            <th>Clint Schmenjamin</th>
            <th>Ellie Schmellie</th>
            <th>Asher Schmasher</th>
            <th>Amanda Hugenkiss</th>
            <th>Pippa Schmippa</th>
            <th>Taran Wanderer</th> -->
        </tr>
        <tr>
            <th class="headerCorrect">Commonly Used words quiz</th>
            <th class="scoreHeaderCorrect">42 / 42</th>
            <td align="center">41</td>
            <td>39</td>
            <td>9</td>
            <td>48</td>
            <td>16</td>
            <td>24</td>
            <td>37</td>
            <td>39</td>
            <td>50</td>
            <td>49</td>
        </tr>
        <tr>
            <th class="headerCorrect">letter to editor </th>
            <th class="scoreHeaderCorrect">89 / 89</th>
            <td>41</td>
            <td>39</td>
            <td>9</td>
            <td>48</td>
            <td>16</td>
            <td>24</td>
            <td>37</td>
            <td>39</td>
            <td>50</td>
            <td>49</td>
        </tr>
        <tr>
            <th class="headerCorrect">Final Exam</th>
            <th class="scoreHeaderCorrect">300 / 300</th>
            <td>41</td>
            <td>39</td>
            <td>9</td>
            <td>48</td>
            <td>16</td>
            <td>24</td>
            <td>37</td>
            <td>39</td>
            <td>50</td>
            <td>49</td>
        </tr>
        <tr id="poop">
            <th class="headerCorrect">Persuasive Essay</th>
            <th class="scoreHeaderCorrect">10 / 10</th>
            <td>41</td>
            <td><input type="text"></td>
            <td><input type="text" id="test"></td>
            <td>48</td>
            <td>16</td>
            <td>24</td>
            <td>37</td>
            <td>39</td>
            <td>50</td>
            <td>49</td>
        </tr>
        <tr>
            <th class="headerCorrect">Chapter 3 Exam</th>
            <th class="scoreHeaderCorrect">100 / 100</th>
            <td>41</td>
            <td>39</td>
            <td>9</td>
            <td>48</td>
            <td>16</td>
            <td>24</td>
            <td>37</td>
            <td>39</td>
            <td>50</td>
            <td>49</td>
        </tr>
        <tr id="death">
            <th class="headerCorrect">Chapter 42 Exam</th>
            <th class="scoreHeaderCorrect">420 / 420</th>
            <td>41</td>
            <td>110</td>
            <td><button onclick="myFunction()">Try it</button></td>
            <td>239</td>
            <td>16</td>
            <td>24</td>
            <td>37</td>
            <td>39</td>
            <td>50</td>
            <td>49</td>
        </tr>
        <tr>
            <th class="total">TOTAL</th>
            <th class="total">2000</th>
            <td class="studentTotal"><h4>1234</h4></td>
            <td class="studentTotal"><h4>1234</h4></td>
            <td class="studentTotal" id="fuct"><h4>1234</h4></td>
            <td class="studentTotal"><h4>1234</h4></td>
            <td class="studentTotal"><h4>1234</h4></td>
            <td class="studentTotal"><h4>1234</h4></td>
            <td class="studentTotal"><h4>1234</h4></td>
            <td class="studentTotal"><h4>1234</h4></td>
            <td class="studentTotal"><h4>1234</h4></td>
            <td class="studentTotal"><h4>1234</h4></td>
        </tr>
    </table> 
    <button>Try it</button>


